<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
  	<div style="margin: 2rem;">
  		
  		<p>
  			<button mat-stroked-button style="width: 100%" >Search</button>
  		</p>

  		<p>
  			<button mat-stroked-button routerLink="/home/profile" style="width: 100%" >Profile</button>
  		</p>

  		<p>
  			<button mat-stroked-button style="width: 100%" >Following</button>
  		</p>
  		<p>
  			<button mat-stroked-button style="width: 100%" >Favourites</button>
  		</p>

  		<p>
  			<button mat-stroked-button style="width: 100%" >Practise Board</button>
  		</p>
  		
  		<p>
  			<button mat-stroked-button style="width: 100%" >Progress Tracker</button>
  		</p>



  	</div>
  </mat-drawer>
  <mat-drawer-content>
  	<router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
