<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
  	<div style="margin: 2rem;">
  		<p>
  			<button mat-flat-button routerLink="/home/profile" class="block" >Profile</button>
  		</p>
  		<p>
  			<button mat-flat-button class="block" >Search</button>
  		</p>
  		<p>
  			<button mat-flat-button class="block" >Following</button>
  		</p>
  		<p>
  			<button mat-flat-button class="block" >Favourites</button>
  		</p>
  		<p>
  			<button mat-flat-button class="block" >Progress Tracker</button>
  		</p>
  	</div>
  </mat-drawer>
  <mat-drawer-content>
  	<router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
