<div>
	<mat-card >
	<h1 style="text-align: center;">Home Content</h1>
</mat-card>

<mat-card *ngFor="let person of list;let i = index">
	
	<img mat-card-avatar src="https://www.stockvault.net//data/2018/08/28/254043/thumb16.jpg"><mat-card-title>{{person.title}}</mat-card-title>
	<mat-card-subtitle>Posted by {{person.name}} </mat-card-subtitle>
	<mat-card-content>{{person.content}}</mat-card-content>
	<mat-card-actions>
		<button mat-button>View</button>
		<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"><mat-icon>favorite</mat-icon></button>
	</mat-card-actions>
</mat-card>
</div>