<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span style="margin-left: 6px;">ShareNote</span>
  <span class="example-spacer"></span>
  
  <button mat-flat-button routerLink="/home">Home</button>
  <button mat-flat-button routerLink="/home/notes">Notes</button>
  <button mat-flat-button > Assignment </button>
  <button mat-flat-button > Exam </button>
  <button mat-flat-button > Logout </button>
  <button mat-flat-button routerLink="/register">Register</button>
</mat-toolbar>
<router-outlet></router-outlet>